@import "font.css";
body {
  font-family: "HelveticaNeueCyr-Roman";
  background-color: #0d0c0c;
  color: #f0f0f0;
  width: 960px;
  margin: 0 auto;
}
.header {
  padding: 45px 0;
  text-align: right;
  line-height: 96px;
}
.header .header-logo,
.header .header-title {
  float: left;
  line-height: 96px;
}
.header .header-logo {
  height: 96px;
  padding-right: 15px;
  border-right: 1px solid #f0f0f0;
}
.header .header-title {
  padding-left: 15px;
  font-weight: bold;
  font-size: 21px;
}
.header .header-partners {
  vertical-align: middle;
  padding-left: 10px;
}
.header:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.rnd-frames {
  width: 1300px;
  margin-left: -190px;
}
.rnd-frames div {
  font-size: 0;
}
.rnd-frames div img {
  margin-left: 20px;
}
.rnd-frames div:first-child img {
  margin-bottom: 20px;
}
.prizes h1,
.send-review h1,
.last-public-reviews h1,
.partners h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 80px 0 40px 0;
}
.prizes .prizes-prize {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 0 10px;
}
.prizes .prizes-prize img {
  border-radius: 4px;
}
.prizes .prizes-prize h2 {
  padding: 30px 20px 0 0;
  font-size: 21px;
  line-height: 26.25px;
  font-weight: bold;
  letter-spacing: 0.075em;
}
.prizes:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.send-review .send-review-form,
.send-review .send-review-rules {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 0 10px;
}
.send-review .send-review-form {
  width: 75%;
}
.send-review .send-review-form form {
  padding-top: 30px;
  font-size: 16px;
  background-color: #500832;
  border-radius: 5px;
  position: relative;
}
.send-review .send-review-form form:before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 10000px;
  left: -9995px;
  top: 0;
  background-color: #500832;
}
.send-review .send-review-form form .send-review-form-film,
.send-review .send-review-form form .send-review-form-review,
.send-review .send-review-form form .send-review-form-name,
.send-review .send-review-form form .send-review-form-city,
.send-review .send-review-form form .send-review-form-tel {
  padding-top: 20px;
}
.send-review .send-review-form form .send-review-form-film span,
.send-review .send-review-form form .send-review-form-review span,
.send-review .send-review-form form .send-review-form-name span,
.send-review .send-review-form form .send-review-form-city span,
.send-review .send-review-form form .send-review-form-tel span {
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  padding-left: 10px;
}
.send-review .send-review-form form .send-review-form-film select,
.send-review .send-review-form form .send-review-form-name select,
.send-review .send-review-form form .send-review-form-city select,
.send-review .send-review-form form .send-review-form-tel select,
.send-review .send-review-form form .send-review-form-film input,
.send-review .send-review-form form .send-review-form-name input,
.send-review .send-review-form form .send-review-form-city input,
.send-review .send-review-form form .send-review-form-tel input {
  height: 30px;
  width: 260px;
  box-sizing: border-box;
  padding-left: 7px;
  border: none;
}
.send-review .send-review-form form .send-review-form-review {
  padding-bottom: 30px;
}
.send-review .send-review-form form .send-review-form-review span {
  position: relative;
  bottom: 174px;
}
.send-review .send-review-form form .send-review-form-review textarea {
  height: 190px;
  width: 460px;
  resize: none;
  font-family: inherit;
  padding: 7px;
  font-size: inherit;
}
.send-review .send-review-form form .send-review-form-tel {
  padding-bottom: 40px;
}
.send-review .send-review-form form .send-review-form-tel .send-review-form-tel-comment {
  margin-left: 160px;
  padding: 5px;
  font-size: 12px;
}
.send-review .send-review-form form .send-review-form-button {
  padding: 35px 0 35px 160px;
  background-color: #9e045f;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
}
.send-review .send-review-form form .send-review-form-button input[type = submit] {
  height: 75px;
  width: 220px;
  font-size: 24px;
  line-height: 75px;
  font-weight: bold;
  color: #999;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  background-color: #fff;
}
.send-review .send-review-form form .send-review-form-button input[type = submit]:hover {
  cursor: pointer;
}
.send-review .send-review-form form .send-review-form-button:before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 10000px;
  left: -9995px;
  top: 0;
  background-color: #9e045f;
}
.send-review .send-review-rules .send-review-rules-moderation,
.send-review .send-review-rules .send-review-rules-number,
.send-review .send-review-rules .send-review-rules-results,
.send-review .send-review-rules .send-review-rules-pdf {
  padding: 12px 24px 12px 80px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  background: no-repeat 12px 16px;
}
.send-review .send-review-rules .send-review-rules-moderation span,
.send-review .send-review-rules .send-review-rules-number span,
.send-review .send-review-rules .send-review-rules-results span,
.send-review .send-review-rules .send-review-rules-pdf span {
  font-weight: normal;
}
.send-review .send-review-rules .send-review-rules-moderation {
  background-image: url("../images/send-review/box.png");
}
.send-review .send-review-rules .send-review-rules-number {
  background-image: url("../images/send-review/pen.png");
}
.send-review .send-review-rules .send-review-rules-results {
  background-image: url("../images/send-review/cup.png");
  padding-bottom: 24px;
}
.send-review .send-review-rules .send-review-rules-pdf {
  background-image: url("../images/send-review/pdf-file.png");
  padding-top: 24px;
  border-top: 1px solid #f0f0f0;
}
.send-review .send-review-rules .send-review-rules-pdf a {
  color: #f0f0f0;
}
.send-review:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.last-public-reviews h1 {
  position: relative;
}
.last-public-reviews h1 a {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  color: #f0f0f0;
}
.last-public-reviews .last-published-reviews {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 0 10px;
  line-height: 24px;
}
.last-public-reviews .last-published-reviews h2 {
  padding-bottom: 24px;
  font-weight: bold;
}
.last-public-reviews .last-published-reviews h2 a {
  color: #ec008b;
  font-size: 18px;
}
.last-public-reviews .last-published-reviews div {
  font-size: 16px;
}
.last-public-reviews:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.partners div {
  line-height: 150px;
  text-align: right;
}
.partners div img {
  vertical-align: middle;
  margin: 0 20px 0 70px;
}
.footer {
  text-align: center;
  font-size: 14px;
  padding: 60px 0 40px 0;
}
.footer a {
  color: #f0f0f0;
}
