@import "font.css"

body_width = 960px
text_color = #f0f0f0
purple_color = #ec008b

clear_after =
  display block
  content ""
  visibility hidden
  height 0
  clear both

four_column_style =
  float left
  box-sizing border-box
  width 25%
  padding 0 10px

body
  font-family "HelveticaNeueCyr-Roman"
  background-color #0d0c0c
  color text_color
  width body_width
  margin 0 auto
.header
  header_height = 96px//height logo
  padding 45px 0
  text-align right
  line-height header_height
  .header-logo
  .header-title
    float left
    line-height header_height
  .header-logo
    height header_height
    padding-right 15px
    border-right 1px solid text_color
  .header-title
    padding-left 15px
    font-weight bold
    font-size 21px
  .header-partners
    vertical-align middle
    padding-left 10px
  &:after
    {clear_after}

.rnd-frames
  width (1280 + 20)px
  margin-left -((@width - body_width)/2) - 20px
  div
    font-size 0
    img
      margin-left 20px
  div:first-child
    img
      margin-bottom 20px
.prizes
.send-review
.last-public-reviews
.partners
  h1
    text-align center
    font-size 30px
    font-weight bold
    margin 80px 0 40px 0
.prizes
  .prizes-prize
    {four_column_style}
    img
      border-radius 4px
    h2
      padding 30px 20px 0 0
      font-size 21px
      line-height 1.25*@font-size
      font-weight bold
      letter-spacing 0.075em
  &:after
    {clear_after}
.send-review
  .send-review-form
  .send-review-rules
    {four_column_style}
  .send-review-form
    width 75%
    form
      padding-top 30px
      font-size 16px
      background-color #500832
      border-radius 5px
      position relative
      &:before
        display block
        position absolute
        content ""
        height 100%
        width 10000px
        left -@width + @border-radius
        top 0
        background-color @background-color
      .send-review-form-film
      .send-review-form-review
      .send-review-form-name
      .send-review-form-city
      .send-review-form-tel
        padding-top 20px
        span
          display inline-block
          box-sizing border-box
          width 160px
          padding-left 10px
      .send-review-form-film
      .send-review-form-name
      .send-review-form-city
      .send-review-form-tel
        select, input
          height 30px
          width 260px
          box-sizing border-box
          padding-left 7px
          border none
      .send-review-form-review
        padding-bottom 30px
        span
          position relative
          bottom 190px - 16px// textarea height - spann font-size(=line-height)
        textarea
          height 190px
          width 460px
          resize none
          font-family inherit
          padding 7px
          font-size inherit
      .send-review-form-tel
        padding-bottom 40px
        .send-review-form-tel-comment
          margin-left 160px
          padding 5px
          font-size 12px
      .send-review-form-button
        padding 35px 0 35px 160px
        background-color #9e045f
        border-bottom-right-radius 5px
        border-bottom-left-radius 5px
        position relative
        input[type = submit]
          height 75px
          width 220px
          font-size 24px
          line-height @height
          font-weight bold
          color #999
          text-align center
          border-radius 10px
          border-style none
          background-color #fff
          &:hover
            cursor pointer
        &:before
          display block
          position absolute
          content ""
          height 100%
          width 10000px
          left -@width + @border-radius
          top 0
          background-color @background-color

  .send-review-rules
    .send-review-rules-moderation
    .send-review-rules-number
    .send-review-rules-results
    .send-review-rules-pdf
      padding 12px 24px 12px 80px
      font-size 14px
      line-height 22px
      font-weight bold
      background no-repeat 12px (12 + (@line-height - @font-size)/2)px
      span
        font-weight normal
    .send-review-rules-moderation
      background-image url(../images/send-review/box.png)
    .send-review-rules-number
      background-image url(../images/send-review/pen.png)
    .send-review-rules-results
      background-image url(../images/send-review/cup.png)
      padding-bottom 24px
    .send-review-rules-pdf
      background-image url(../images/send-review/pdf-file.png)
      padding-top 24px
      border-top 1px solid text_color
      a
        color text_color
  &:after
    {clear_after}
.last-public-reviews
  h1
    position relative
    a
      position absolute
      right 15px
      bottom 0
      font-size 16px
      font-weight bold
      color text_color

  .last-published-reviews
    {four_column_style}
    line-height 24px
    h2
      padding-bottom @line-height
      a
        color purple_color
        font-size 18px
      font-weight bold
    div
      font-size 16px
  &:after
    {clear_after}
.partners
  div
    line-height 150px
    text-align right
    img
      vertical-align middle
      margin 0 20px 0 70px
.footer
  text-align center
  font-size 14px
  padding 60px 0 40px 0
  a
    color text_color
